$exo: "Exo 2";
$pt: "PT Sans";
$gray: #6b6b6c;
$darkgray: #363738;

.contact {
  margin-top: 130px;

  h2 {
    font-family: $exo;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $darkgray;
    margin-bottom: 72px;
  }

  .contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about__contact {
      width: 248px;
    }
  }

  .contact__item {
    display: flex;
    gap: 32px;
    margin-bottom: 44px;

    h4 {
      font-family: $pt;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $gray;
      margin-bottom: 8px;
    }

    a {
      text-decoration: none;
      font-family: $exo;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: $darkgray;
    }
  }

  .contact__desc {
    width: 794px;
    border-radius: 5px;
    background-color: #f9f9fb;
    padding: 40px 72px 56px 48px;
    .desc__line {
      display: flex;
      gap: 56px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e9eaf2;
      margin-bottom: 32px;

      h5 {
        width: 175px;
        font-family: $pt;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $gray;
      }

      p {
        font-family: $exo;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $darkgray;
      }
    }

    .line2 {
      margin-bottom: 0;
      border: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    .contact__desc {
      width: 700px;
    }
  }
}

@media screen and (max-width: 992px) {
  .contact {
    margin-top: 150px;

    h2 {
      font-size: 44px;
      line-height: 55px;
      margin-bottom: 56px;
    }

    .contact__info {
      flex-direction: column;
      align-items: flex-start;
      gap: 64px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 116px;

    h2 {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 56px;
    }

    .contact__desc {
      .about__contact {
        width: 255px;
      }
    }

    .contact__item {
      margin-bottom: 48px;
      h4 {
        font-size: 15px;
        line-height: 22.5px;
      }
    }

    .contact__desc {
      width: 100%;
      padding: 48px 24px;

      .desc__line {
        flex-direction: column;
        gap: 14px;
        padding-bottom: 24px;
      }
    }
  }
}
