$darkgray: #363738;
$gray: #6b6b6c;

.our-work {
  padding-top: 120px;

  h2 {
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $darkgray;
    margin-bottom: 32px;
  }

  .our-work__desc{
    width: 455px;
  }

  p {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $gray;
    margin-bottom: 56px;
  }

  .our-work__list {
    display: flex;
    justify-content: space-between;
  }

  .our-work__item {
    width: 393px;
    box-shadow: 0 4px 15px #0000001f;
    border-radius: 10px;

    span{
        display: block;
        padding-left: 32px;
        padding-bottom: 32px;
    }

    h3 {
      font-family: Exo 2;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: $darkgray;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    p{
        margin-bottom: 32px;
    }

    a{
            font-family: 'PT Sans';
            font-weight: 700;
            color: $darkgray;
            text-decoration: none;
            border-bottom: 3px solid #FFCE50;
            transition: all 0.5s;
    }
  }
}

@media screen and (max-width:1200px) {
    .our-work{
        padding-top: 100px;
        padding-left: 150px;

        .our-work__list{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        .item3{
            display: none;
        }

        .our-work__item{
            width: 690px;

            span{
                display: block;
                padding-bottom: 42px;
            }
        }
    }
}


@media screen and (max-width:992px) {
    .our-work{
        padding-left: 0;
        .our-work__item{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .item3{
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .our-work{
        padding-top: 75px;

        h2{
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 24px;
        }

        p{
            font-size: 15px;
            line-height: 22.5px;
            margin-bottom: 32px;
        }
        
        .our-work__desc{
            width: 100%;
        }

        .item2{
            display: none;
        }

        .our-work__item{
            span{
                display: block;
                padding-left: 24px;
                padding-bottom: 24px;
            }
            p{
                margin-bottom: 24px;
            }
        }

    }
}